Source: bacula-web
Section: web
Priority: optional
Maintainer: Walter Kleynscheldt - Hetzner ZA <walter.kleynscheldt@hetzner.co.za>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.6
Homepage: http://bacula-web.org/
#Vcs-Git: git://git.debian.org/collab-maint/bacula-web.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/bacula-web.git;a=summary

Package: bacula-web
Architecture: any
Depends: ${misc:Depends}, apache2, php7.3, php7.3-gd, php7.3-pgsql, php7.3-json, php7.3-cli
Description: Web based monitoring and reporting gui for Bacula.
  Bacula-Web is a php web based tool that provide you a summarised view of jobs, pools and volumes.
  It obtains its information from your bacula catalog database.
